
.home {
    padding: 0 0 70px 0;
    text-align: center;
}

.home__title {
    margin: 45px 0 22px 0;
    font-size: 45px;
    font-weight: 700;
    color: var(--font-color-black);
}

.home__description {
    margin: 0 0 35px 0;
    font-size: 18px;
    font-weight: 500;
}

.home__img {
    width: 100%;
    max-width: 950px;
    height: 535px;
    object-fit: cover;
}

@media (max-width: 480px) {
    .home {
        text-align: left;
    }
    .home__title {
        width: 240px;
        margin: 45px 0 25px 0;
        font-size: 32px;
    }
    .home__description {
        font-size: 14px;
        width: 304px;
    }
    .home__img {
        height: 490px;
    }
}